* {
    margin: 0;
    padding: 0;
}

body {

    font-family: sans-serif;
    color: rgb(59, 63, 146);
}

header {

    background-color: rgba(0, 0, 0, 0.811);
}

#top {

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

}

#contact {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

}

#name {

    background-color: lightblue;
    padding: 10px;
    
}

h1 {

    margin-left: 20px;
    color: rgba(0, 0, 0, 0.781);
}

h2 {

    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
    
}

nav a {

    margin-right: 20px;
    color: lightblue;

}

.pic img {
    width: 100px;
    height: 100px
    size-adjust: 62.5%;
    padding: 10px;
    padding-right: 50px;
    padding-bottom: 30px;
    
}


#portfolio {

    
    background-image: url("./Assets/Images/background.jpeg");    
    background-size: cover;
    height: 150px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
    padding-right: 50px;
    padding-bottom: 30px;
    
}

#portfolio h2 {

    background-color: lightblue;
    padding: 10px;
    color: rgba(0, 0, 0, 0.781);

}
img { 

    width: 100%;


}
.item1 {

    grid-area: top;
    
}

.item2 {

    grid-area: item2;

}


.item3 {

    grid-area: item3;

}

.item4 {

    grid-area: item4;
}

.item5 {

    grid-area: item5;

}

.projects-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "top top"
    "item2 item3"
    "item4 item5";
    gap: 20px;
    padding: 0 100px;
}

.projects-grid {
    position:relative;

}

.projects-grid img {
    height: 150px;
    object-fit: cover;
}

.project-content {

    position:absolute;
    bottom: 3px;
    right: 0px;
    background-color: lightblue;
    padding: 10px;

}

section {

    display: grid;
    grid-template-columns: 0.1fr 1.7fr;
    align-items: center;
}

.contactlinks {

    display: flex; 
    justify-content: center;
    align-items: center;

}
.contactlinks a {

    display:block;
    margin-right: 20px;

}

.contactlinks a:hover {

    color: rgb(255, 192, 212);
}

.description {
    width: 85%;
    margin: auto;
    padding-right: 20px;
}